.generate-password-button {
  background: none;
  width: 100%;
  height: 60px;
  color: hsl(127, 100%, 82%);
  border-color: hsl(127, 100%, 82%);
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: larger;
}

.generate-password-button > svg path {
  fill: hsl(127, 100%, 82%);
}

.generate-password-button:hover {
  background-color: hsl(127, 100%, 82%);
  color: hsl(248, 10%, 15%);
  cursor: pointer;
}

.generate-password-button:hover path {
  fill: hsl(248, 10%, 15%);
}
