@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans:wght@400;700&family=Montserrat:wght@500&family=Rajdhani:wght@300;400&family=Roboto&family=Rubik&display=swap");

body,
html {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  background-color: hsl(248, 15%, 11%);
  color: hsl(252, 11%, 91%);
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1400px) {
  body {
    width: 100%;
  }

  .data-container {
    width: 35%;
  }

  .main-container > h2 {
    font-size: xx-large;
  }
}
