.character-length {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  gap: 15px;
}

.character-length > span {
  font-size: 25px;
  color: hsl(127, 100%, 82%);
}

.character-length > p {
  color: hsl(252, 11%, 91%);
  font-size: large;
}

input[type="range"] {
  -webkit-appearance: none;
  background: hsl(248, 15%, 11%);
  accent-color: white;
  cursor: pointer;
  height: 8px;
  width: 100%;
  background-image: linear-gradient(hsl(127, 100%, 82%), hsl(127, 100%, 82%));
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  background: hsl(252, 11%, 91%);
  -webkit-appearance: none;
  border-radius: 14px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: hsl(248, 15%, 11%);
  border: 2px solid hsl(127, 100%, 82%);
  -webkit-appearance: none;
}
